{% extends 'base.html.twig' %}

{% block body %}

    <h1>inscription</h1>
    {{ form_start(form)}}
        {{ form_row (form.email, {'label': 'adresse mail' ,
        'attr' : 
        {'placeholder' : "e-mail"}})}}
{#        {{ form_row (form.username, {'label': 'nom d\'utilisateur' ,#}
{#        'attr' : #}
{#        {'placeholder' : "nom d\'utilisateur"}})}}#}
        {{ form_row (form.password, {'label': 'mot de passe' ,
        'attr' : 
        {'placeholder' : "mot de passe"}})}}
        {{ form_row (form.confirm_password, {'label': 'comfirmation mot de passe' ,
            'attr' : 
        {'placeholder' : "comfirmation mot de passe"}})}}

        <button type="submit" class="btn btn-primary">
            inscription
        </button>

    {{ form_end(form)}}
{% endblock %}