{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}nouvelle réservation{% endblock %}

{% block body %}
    <br>
    {{ form_start(form) }}
    {{ form_row (form.beginAt)}}
    {{ form_row (form.endAt)}}
    {{ form_row (form.title)}}
    {{ form_row (form.nome_salle)}}
    {{ form_row (form.strat_arrive)}}
    {{ form_row (form.bake)}}
    {{ form_row (form.taille_terrain)}}
    <button type="submit" class="btn btn-primary">
        valider
    </button>
    {{ form_end(form) }}

{% endblock %}