{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end ">
                <div class="col">
                    {{ form_row(form.titre) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Recherche</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <h1>planning</h1>
    {% include 'booking/calendar.html.twig' %}
    <h4>réservation actuelle</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>début</th>
                <th>fin</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h4>Demande</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>début</th>
            <th>fin</th>
            <th>Title</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.beginAt ? demande.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.endAt ? demande.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
